<div id="product">
  <h1><%= @product.name %></h1>

  <%= description_for @product %>
  <aside><%= image_for @product %></aside>

  Base price: <%= number_to_currency @product.base_price %>

  <div class="add-to-cart">
    <%= button_to 'Add to shopping cart', "/shopping_cart/add_item/#{@product.id}" %>
  </div>
</div>
