<div id="product">
  <h1><%= @product.name %></h1>

  <%= description_for @product %>
  <aside><%= image_for @product %></aside>

  Base price: <%= number_to_currency @product.base_price %>

  <div class="add-to-cart">
    <%= button_to 'Add to shopping cart', add_item_to_shopping_cart_path, id: @product.id %>
  </div>
</div>
