<!DOCTYPE html>
<html>
<head>
  <title>eCommerce on Rails Sample Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header id="main-header">
    eCommerce on Rails Sample Store

    <nav>
      <%= link_to 'All products', products_path %>
      <%= link_to "Shopping Cart (#{current_cart.size})", '/shopping_cart', id: 'cart' %>
    </nav>
  </header>

  <% flash.each do |key, value| %>
    <div id="flash" class="<%= key %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
